.tooltip {
    position: relative;
 
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 180px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 2px 0;
    bottom: 27px;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  .subscription-btnn {
    display: flex;
    gap: 10px;
    align-items: center;
}
.subscription-btnn button {
  background-color: #b6c7db;
  color: #fff;
  padding: 0 22px;
  cursor: pointer;
  margin-right: 5px;
  font-size: 14px;
  font-weight: 500;
  border: 0px solid #ffffff00;
  border-radius: 7px;
  height: 49px;
  background: linear-gradient(180deg, rgba(0, 72, 137, 1) 0%, rgb(1, 48, 90) 100%);
  margin-top: 4px;
  display: flex;
  align-items: center;
  gap: 8px;
}

@media (max-width:600px){
  .subscription-btnn {
    display: none;
}
}