.tooltip {
    position: relative;
 
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 180px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 2px 0;
    bottom: 27px;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  .subscription-btnn {
    display: flex;
    gap: 10px;
    align-items: center;
}
.subscription-btnn button {
  background-color: #b6c7db;
  color: #004686;
  padding: 0 20px;
  cursor: pointer;
  margin-right: 5px;
  font-size: 16px;
  font-weight: 500;
  border: 2px solid #b6c7db;
  border-radius: 12px;
  height: 44px;
}